<h3> Player A </h3>
<h2> <%= @nameA %>: <%= @hpA %> HP </h2>

<form action="/attack" method=post>
  <input type="submit" value="Attack" name="attack_confirmation">
  <% if @attack_confirmation %>
  <h1> <%= "#{@nameA} attacks #{@nameB} for 10 damage!" %></h1>
  <% end %>
</form>

<h3> Player B </h3>
<h2> <%= @nameB %>: <%= @hpB %> HP </h2>
