<% if @game.dead?(@game.playerA) %>
  <h1> Game Over! </h1>
  <h2> <%= @game.playerB.name %> Wins! </h2>
<% end %>
<% if @game.dead?(@game.playerB) %>
  <h1> Game Over! </h1>
  <h2> <%= @game.playerA.name %> Wins! </h2>
<% end %>


<h3> Player A </h3>
<h2> <%= @game.playerA.name %>: <%= @game.playerA.hp %> HP </h2>

<form action="/attack" method=post>
  <input type="submit" value="Attack" name="attack_confirmation">
  <% if @attack_confirmation %>
  <h1> <%= @game.active_player %> attacks <%= @game.attacked_player %> for 10 damage!</h1>
  <% end %>
</form>

<h3> Player B </h3>
<h2> <%= @game.playerB.name %>: <%= @game.playerB.hp %> HP </h2>
